<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ATCHRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="ATCHRM.Properties.Settings.ATCHRMConnectionString"
        connectionString="Data Source=IT-DEPT\MSSQLSERVERRAJ;Initial Catalog=ATCHRM;Persist Security Info=True;User ID=sa"
        providerName="System.Data.SqlClient" />
    <add name="ATCHRM.Properties.Settings.ATCHRMConnectionString1"
        connectionString="Data Source=IT-DEPT\MSSQLSERVERRAJ;Initial Catalog=ATCHRM;Persist Security Info=True;User ID=sa;Password=sreenath"
        providerName="System.Data.SqlClient" />
    <add name="ATCHRM.Properties.Settings.ATCHRMConnectionString2"
        connectionString="Data Source=197.232.31.250;Initial Catalog=ATCHRM;Persist Security Info=True;User ID=sa;Password=admin_123"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ATCHRM.Properties.Settings>
            <setting name="xxx" serializeAs="String">
                <value />
            </setting>
            <setting name="Newdirection" serializeAs="String">
                <value>AboveLeft</value>
            </setting>
            <setting name="foractrion" serializeAs="String">
                <value>BelowRight</value>
            </setting>
            <setting name="foractionnew" serializeAs="String">
                <value>AboveRight</value>
            </setting>
        </ATCHRM.Properties.Settings>
    </userSettings>
</configuration>
